/* 
    Custom CSS goes here
*/

body {
    background-image: url('../Assets/images/bg-img.jpg');
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    color: white;
    text-align: center;
}